@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Keep track of the things you lend and borrow.</h1>
    
    <p>Add items in seconds, invite your friends and never forget about borrowed items again!</p>
</div>
